export default function Home() {
  return (
    <main>
      <h1>{{ project_name | pascal_case }}</h1>
      <p>Connected to cluster: <code>{{ cluster }}</code></p>
      <p>Program: <code>{{ program_name | snake_case }}</code></p>
    </main>
  );
}
